<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.heyaa.heyaaBlog.model.UserModelMapper" >

    <sql id="Base_Column_List" >
        id, user_name, user_code, nick_name,account,password,mail,create_time,stat,version
    </sql>
    <select id="getAllUsers"  resultType="cn.heyaa.heyaaBlog.model.UserModel" >
        select
        <include refid="Base_Column_List" />
        from t_user_info
    </select>
</mapper>